* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Wildera;
    src: url("Wildera-Regular.otf") format("opentype");
}

@font-face {
    font-family: Moon;
    src: url("MoonLight.otf") format("opentype");
}

.main-page {
    width:100%;
    height:400px;
    background-image: url("main-background.jpg");
    background-position: center center;
    margin: 0;
}

.main-page h1{
    font-family: Wildera;
    text-align: center;
    font-size: 100px;
    padding-top: 100px;
    margin: 0 0 10px 0;
}

.main-page h2{
    font-family: Moon;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#navbar-home {
    background: #f0f0f0f0;
    height:50px;
    font-family: Moon;
    text-align: center;
    float: inherit;
    padding: 10px 0;
    width: 100%;
    margin: 0;
}

#navbar {
    background: #f0f0f0f0;
    height:25px;
    font-family: Moon;
    text-align: center;
    padding: 5px 5px;
}

li{
    list-style: none;
    display: inline;
}

a:visited{
    color:black;
    text-decoration: none;
}

a{
    color:black;
    text-decoration: none;
}

article h1 {
    font-family: Wildera;
    color: lightcoral;
    text-align: center;
    font-size: 100px;
    margin: 0;
}

article p {
    font-family: Moon;
    padding-left: 220px;
    padding-right: 20px;
    margin: 0;
}

.headshot {
    float: left;
    height: 250px;
}

footer {
    text-align: right;
    padding-right: 10px;
}

.clear {
    float: none;
}

#about-div {
    height: 285px;
}

#linkedinIcon {
    height: 25px;
}