.image { 
   position: relative; 
    margin-left: auto;
    margin-right: auto;
   width:inherits; /* for IE 6 */
}


h2 { 
    position: absolute;
   top: 160px; 
   left: 0; 
   width: 100%; 
    text-align:center;
    color:aliceblue;
    font-family: monospace;
}

h3 { 
    position: absolute;
   top: 195px; 
   left: 0; 
   width: 100%; 
    text-align:center;
    color:aliceblue;
    font-family: monospace;
}

h1 {
    position: absolute; 
    top: 125px; 
    left: 0; 
    width: 100%; 
    height: auto;
    text-align:center;
    color:aliceblue;
    font-family: monospace;
}

.responsive {
    width: 100%;
    height: auto;
}

.headshot {
    width: 250px;
    height: auto;
    float:left;
    margin-left: -270px;
}

.wrapper {
  width:800px;
}

li {
  display: inline-block;
  list-style: none;
}

article {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    padding-left: 270px;
}

p3 {
  color: grey;
  font-family:Century Gothic,arial,sans-serif;
}

h5 {
  color: lightcoral;
  font-family:Century Gothic,arial,sans-serif;
  font-weight: normal;
  text-align: center;
  margin-top: 0px;
  margin-left: -20px;
    font-size: 35px;
}

p{
    text-transform: uppercase;
    font-family: Century Gothic,arial,sans-serif;
    font-weight: lighter;
}